.leftMenu
{
    width: 200px;
    background-color: #24292F;
    position: fixed;
    height: 100%;
    color: white;
}
.leftMenu .logo
{
    width: 100%;
    text-align: left;
    font-size: 32px;
    margin-top: 5px;
}
.leftMenu .menu
{
    border-radius: 0;
}

.topMenu
{
    margin-left: 250px;
    height: 35px;
    background-color: #E3EAF3;
}
.mainContainer
{
    margin-left: 200px;
    background: green;
}