<tr>
    <td>{{Name}}</td>
    <td>{{Surname}}</td>
    <td>{{Id}}</td>
    <td class="center aligned">
        <button class="ui small icon button dlcfgbutton" title="Download config file">
            <i class="download icon"></i>
        </button>
        <button class="ui small icon button rmbutton" title="Delete user">
            <i class="trash icon"></i>
        </button>
    </td>
</tr>