<tr>
    <td>{{Name}}</td>
    <td>{{Surname}}</td>
    <td>{{Id}}</td>
    <td>
        <div class="ui small icon button rmbutton">
            <i class="trash icon"></i>
        </div>
    </td>
</tr>