<tr>
    <td>{{App.Name}}</td>
    <td>
        <div class="ui large labels">
        {{#each App.Identifiers}}
            <div class="ui label">
            {{#switch $type}}
                {{#case "ProcessNameIdentifier"}}
                    <i class="desktop icon"></i>{{ProcessName}}.exe
                {{/case}}
                {{#case "WebsiteIdentifier"}}
                    <i class="world icon"></i>{{Host}}
                {{/case}}
            {{/switch}}
            </div>
        {{/each}}
        </div>
    </td>
    <td>
        <div class="ui grid">
            <div class="center aligned column">
                <div class="ui small buttons mybuttons" data-value="{{Rel}}">
                    <button class="ui button" data-active-class="green" name="good">Good</button>
                    <div class="or"></div>
                    <button class="ui button" data-active-class="yellow" name="neutral">Neutral</button>
                    <div class="or"></div>
                    <button class="ui  button" data-active-class="red" name="bad">Bad</button>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui small icon button rmbutton">
            <i class="trash icon"></i>
        </div>
    </td>
</tr>